body {
background-color:rgb(161, 209, 208);
font-family: Arial, sans-serif;
color: #07040f;
margin: 20px;
}
h1 {
color: #124049;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
color: #265857;
text-align: left;
}
p {
font-size: 18px;
text-align: left;
line-height: 1.5;
}
.daftar-produk {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 20px;
    }
.produk {
    background-color: #fff;
    border:1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
.produk img{
    width: 150px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    } 
.produk h2 {
     font-size: 20px;
     color: #2c3e50;    
    } 
.produk h3 {
    font-size: 16px;
    color:#2c3e50
    }
.harga {
    font-weight: bold;
    color: #27ae60;
    }
.deskripsi {
    font-size: 14px;
    color: #555 
    }